.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-top: 65px;
}

.projects-area {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px 0;
    width: 100%;
}

@media screen and (max-width: 786px) {
    .projects-area {
        flex-wrap: wrap;
        gap: 50px;
    }
}

@media screen and (max-width: 1200px) {
    .projects-area {
        flex-wrap: wrap;
        gap: 50px;
    }
}
