.qualification-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 65px;
}

.qualification-tabs {
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
}

.qualification-tab-active{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--first-color);
    border-bottom: 2px solid var(--first-color);
    gap: 5px;
    transition: all ease .1s;
}

.qualification-tab-active h2 {
    color: var(--first-color);
}

.qualification-tab{
    display: flex;
    align-items: center;
    color: var(--second-color);
    gap: 5px;
    transition: all ease .3s;
}

.qualification-tab h2 {
    transition: all ease .3s;
}

.qualification-tab:hover,
.qualification-tab h2:hover {
    cursor: pointer;
    color: var(--first-color);
}

.qualification-area {
    display: none;
}

.qualification-area-active{
    margin-top: 50px;
    width: 30vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.qualifications {
    display: flex;
    flex-direction: column;
    width: 170px;
    gap: 10px;
}

.qualification-items {
    margin-bottom: 70px;
}

.qualification-content {
    cursor: pointer;
    padding: 5px;
    transition: all ease .2s;
}   

.qualification-content:hover {
    background-color: var(--rgba-color);
    border-radius: 5px;
}

.right {
    margin-top: 83px;
    animation: sobeSecao .8s;
}

.left {
    animation: sobeSecao .5s;
}

.qualification-data {
    display: flex;
    align-items: center;
    justify-content: safe;
    flex-direction: column;
    height: 100%;
    padding-top: 7px;
}

.qualification-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85px;
}

.toogle {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--first-color);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    transition: all ease .1s;
}

.toogle:hover {
    border: 2px solid var(--first-color);
    background-color: var(--background-color);
}

.line {
    display: block;
    width: 1px;
    height: 100%;
    font-size: 1px;
    background-color: var(--text-color);
}

.modal {
    display: none;
}

.modal-active {
    visibility: visible;
    animation: opacidade .2s;
}

/* ---------- Keyframes ---------- */

@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes opacidade {
    from {
        transition: .5s;
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

/* ---------- MediaScreen ---------- */

@media screen and (max-width: 786px) {
    .qualification-tabs {
        justify-content: space-between;
        width: 80vw;
        font-size: 12px;
    }
    
    .qualification-area-active {
        width: 100vw;
        justify-content: space-around;
    }

    .qualification-items {
        margin-left: 15px;
    }
    
}