.skills-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10vh;
    padding-top: 15px;
}

.skills-tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10vh;
    width: 60vw;
}

.skills-tab-active,
.skills-tab-active h2 {
    display: flex;
    color: var(--first-color);
    border-bottom: 1px solid var(--first-color);
    gap: 5px;
    transition: all ease .3s;
}

.skills-tabs h2 {
    transition: all ease .3s;
}

.skills-tabs h2:hover {
    cursor: pointer;
    color: var(--first-color);
}

.skills-content {
    display: none;
}

.skills-content-active {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 500px;
}

.skill-list {
    display: flex;
    align-items: center;
    justify-content: flex-star;
    gap: 10px;
    padding-left: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    animation: sobeSecao .5s;
}

.skill-list i {
    display: flex;
    align-items: center;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* ---------- Keyframes ---------- */

@keyframes sobeSecao {
    from {
        transition: .5s;
        transform: translate3d(0, 40px, 0);
        opacity: 0;
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes opacidade {
    from {
        transition: .5s;
        opacity: .5;
    }

    to {
        opacity: 1;
    }
}

/* ---------- MediaScreen ---------- */

@media screen and (max-width: 768px) {
    .skills-tabs {  
        width: 90vw;
        font-size: 10pt;
    }

    .skill-list {
        padding-left: 10px;
        font-size: 10pt;
    }
}