.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 10vw 0 10vw;
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3.5rem;
    width: 35vw;
}

.main-hello {
    font-weight: 600;
}

.main-info h1 {
    color: var(--text-color);
    font-size: 34pt;
}

.main-info h2 {
    color: var(--text-color);
    font-size: 24pt;
}

.main-info span{
    color: var(--first-color);
    font-family: 'Roboto Mono';
}

.main-button-area {
   margin-top: 5vh; 
    
}

.main-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10rem;
    margin-bottom: 3rem;
}

.main-img img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.contact-area a svg {
    color: var(--text-color);
    transition: all ease .3s;
}

.contact-area {
    width: 300px;
    padding: 0;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    border-left: .3rem solid var(--first-color);
}

.contact-area a svg:hover {
    color: var(--first-color);
}

@media screen and (max-width: 786px) {
    .main-img {
        margin-bottom: 1.5rem;
    }

    .main-info {
        width: 88vw;
    }

    .main-button-area {
        flex-direction: column;
        margin: 5vh auto 0 auto;
    }

    .main-info h1 {
        font-size: 23pt;
    }

    .main-info h2 {
        font-size: 15pt;
    }
}