.main-container {
    padding-top: 30vh;
    display: flex;
    justify-content: space-between;
}

.main-info {
    line-height: 3.5rem;
    width: 35vw;
}

.main-hello {
    font-weight: 600;
}

.main-info h1 {
    color: var(--text-color);
    font-size: 36pt;
}

.main-info h2 {
    color: var(--text-color);
    font-size: 26pt;
}

.main-info span{
    color: var(--first-color);
}

.main-button-area {
    width: 29vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main-img div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--first-color);
    width: 350px;
    height: 350px;
    margin-right: 100px;
    outline: 2px solid var(--text-color);
    outline-offset: 2px;
}

.main-img img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

@media screen and (max-width: 890px) {
    .main-img {
        display: none;
    }

    .main-info {
        width: 80vw;
    }

}