header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    min-height: 50px;
    position: fixed;
    width: 100vw;
    padding: 0 10vw;
    z-index: 999;
    transition: all 1000ms ease;
}

header a {
    text-decoration: none;
}

header h1 {
    letter-spacing: -8px;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-link:hover {
    color: var(--first-color);
}

.header-link,
.header-link-active {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 35px;
    letter-spacing: 2.5px;
    transition: all ease 300ms;
}

.header-link-active {
    color: var(--background-color);
    background-color: var(--second-color);
    filter: opacity(.6);
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 20px;
}

.scrolled {
    display: flex;
    padding: 0 10vw;
    backdrop-filter: blur(5px);
    background-color: rgba(46, 52, 64, 0.075);
    box-shadow: rgba(0, 0, 0, 0.1) 2px 8px 8px;
    border: none;
    transition: all 600ms ease;
}


.scrolled::after {
    content: " ";
    width: 0%;
    transition: 0.5s ease-in-out;
}

header::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: var(--first-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.desktop {
    display: flex;
}

.mobile {
    display: none;
}

.no-hamburguer,
.hamburguer,
#hamburguer-inactive {
    display: none;
}

#hamburguer-active {
    display: flex;
}

#hamburguer-active button, 
.show-hamburguer button {
    background-color: transparent;
    cursor: pointer;
}

#hamburguer-active svg, 
.show-hamburguer button svg{
    margin-left: -30px;
    border: none;
    color: var(--first-color);
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
}

.hamburguer,
#hamburguer-active {
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5rem 0 5rem 2.25rem;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(10px);
    background-color: rgba(46, 52, 64, 0.075);
    z-index: 9999;
}

@media screen and (max-width: 786px) {
    header {
        display: flex;
        align-items: center;
    }
}

