header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    min-height: 50px;
    position: fixed;
    width: 100vw;
    margin: 0 -10vw;
    padding: 0 10vw;
    z-index: 999;
    transition: all 1000ms ease;
}

header a {
    text-decoration: none;
}

header h1 {
    letter-spacing: -8px;
}

.header-infos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-infos, .header-hamburguer-links a {
    color: var(--text-color);
    text-decoration: none;
    padding-right: 35px;
    letter-spacing: 2.5px;
    transition: all ease 0.2s;
}

.header-infos a {
    color: var(--text-color);
    text-decoration: none;
    padding-right: 35px;
    letter-spacing: 2.5px;
    transition: all ease 0.2s;
    transition: border-bottom ease 0.2s;
}

.header-infos, .header-hamburguer a:hover {
    color: var(--first-color);
}

.scrolled {
    display: flex;
    width: 100vw;
    margin: 0 -10vw;
    padding: 0 10vw;
    backdrop-filter: blur(5px);
    background-color: rgba(46, 52, 64, 0.075);
    box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
    border: none;
    transition: all 600ms ease;
}


.scrolled::after {
    content: " ";
    width: 0%;
    transition: 0.5s ease-in-out;
}

header::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: var(--first-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.header-hamburguer-links,
.header-hamburguer {
    display: none;
}

.hamburguer-1, .hamburguer-2, .hamburguer-3 {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    width: 30px;
    height: 2px;
    background-color: var(--first-color);

}

.header-hamburguer:hover  {
    cursor: pointer;
}


@media screen and (max-width: 890px) {
    .header-infos {
        display: none;
    }

    .header-hamburguer {
        display: flex;
        flex-direction: column;
    }

    .header-hamburguer-links {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 10px;
        top: 8vh;
    }
    .header-hamburguer-links {
        padding-top: 15px;
    }


}

