.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.navbar-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  backdrop-filter: blur(10px);
  background-color: rgba(63, 63, 63, 0.3);
  position: fixed;
  bottom: 1rem;
  width: 300px;
  height: 3.5rem;
  border-radius: 50px;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.navbar-link {
  text-decoration: none;
  color: var(--text-color);
}

.navbar-link-active {
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--first-color);
  display: flex;
  border-radius: 50px;
  padding: 5px 10px;
  flex-direction: row;
  align-items: center;
  transition: all ease 0.5s;
  opacity: 1;
}

.name {
  padding-left: 2px;
  text-decoration: none;
  color: var(--background-color);
  font-weight: 600;
}

.navbar-inactive {
  opacity: 0;
  display: none;
  transition: all ease 0.5s;
}