.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 0 0;
    margin: 100px -10vw 0 -10vw;
    background-color: var(--first-color);
}

.contato h1 {
    color: var(--background-color);
    
}

.contato-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    margin: 100px 0;
}

.contato-social a {
    text-decoration: none;
    color: var(--background-color);
    background-origin: var(--background-color);
    transition: all ease 300ms;
}

.contato-social a:hover {
    color: var(--text-color);
    transition: all ease 300ms;
}