@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

  body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: var(--text-color);
}

::-webkit-scrollbar-thumb{
  background-color: var(--first-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--second-color);
}

@media (max-width: 786px) {
  body, html {
    overflow-x: hidden;
  }
}

/* -------------------- Styles -------------------- */

h1 {
  color: var(--first-color);
  font-size: xx-large;
}

h2 {
  color: var(--second-color);
}

:root {
  --background-color: #2E3440;
  --first-color: #5E81AC;
  --second-color: #81A1C1;
  --text-color: #88C0D0;
  --link-color: #D8DEE9;
}
